body {
	transition: all 1s;
	opacity: 0;
}

#nav {
	margin-right: 350px;
	float: right;
	margin-top: 60px;
}

a {
	text-decoration: none;
	font-style: none;
}

#redBubble4 {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 0;
}

.navItem {
	text-decoration: none;
	font-style: none;
	z-index: 5;
	float: right;
	margin-top: 0;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 20px;
	margin-right: 50px;
	cursor: pointer;
	font-weight: 300;
	color: black;
}

#title {
	cursor: pointer;
	position: absolute;
	float: left;
	font-family: 'Fanwood Text';
	font-size: 40px;
	color: black;
	font-weight: 400;
	left: 75px;
	top: 30px;
}

#pageTitle {
	text-align: center;
	font-family: 'Open Sans';
	font-size: 50px;
	font-weight: 300;
	color: black;
	position: absolute;
	width: 500px;
	left: calc(50% - 500px/2);
	top: 150px;
}

#underline {
	height: 2px;
	width: 50px;
	position: absolute;
	left: calc(50% - 50px/2);
	top: 260px;
	background: rgba(0,0,0,.25);
}

#profileBox {
	outline: 1px solid black;
	position: absolute;
	height: 357px;
	width: 482px;
	left: 164px;
	top: 300px;
	border-radius: 20px;
}

#profileTitle {
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: 300;
	color: rgba(0,0,0,.5);
	margin-left: 20px;
	margin-top: 10px;
}

#profilePhoto {
	position: absolute;
	left: 20px;
	top: 50px;
	background: black;
	height: 130px;
	width: 130px;
	border-radius: 50%;
	background-size: cover;
}

#profileNameLbl {
	position: absolute;
	left: 20px;
	top: 200px;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
}

#profileEmailLbl {
	position: absolute;
	left: 20px;
	top: 235px;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
}

#profileNumberLbl {
	position: absolute;
	left: 20px;
	top: 270px;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
}

#profileName {
	position: absolute;
	right: 20px;
	top: 200px;
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 400;
}

#profileEmail {
	position: absolute;
	right: 20px;
	top: 235px;
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 400;
}

#profileNumber {
	position: absolute;
	right: 20px;
	top: 270;
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 400;
}

#changeUsernameBox {
	cursor: pointer;
	z-index: 10;
	transition: all .2s;
	position: absolute;
	right: 160px;
	top: 300px;
	border-radius: 20px;
	outline: 1px solid black;
	width: 482px;
	height: 69px;
}

#changePasswordBox {
	cursor: pointer;
	z-index: 10;
	transition: all .2s;
	position: absolute;
	right: 160px;
	top: 391px;
	border-radius: 20px;
	outline: 1px solid black;
	width: 482px;
	height: 69px;
}

#changePictureBox {
	cursor: pointer;
	z-index: 10;
	transition: all .2s;
	position: absolute;
	right: 160px;
	top: 482px;
	border-radius: 20px;
	outline: 1px solid black;
	width: 482px;
	height: 69px;
}

#changeUsername {
	transition: all .2s;
	position: absolute;
	margin: 0;
	height: 29px;
	top: calc(50% - 29px/2);
	font-family: 'Roboto';
	font-size: 25px;
	font-weight: 300;
	left: 62px;
}

#changePassword {
	transition: all .2s;
	position: absolute;
	margin: 0;
	height: 29px;
	top: calc(50% - 29px/2);
	font-family: 'Roboto';
	font-size: 25px;
	font-weight: 300;
	left: 62px;
}

#changePicture {
	transition: all .2s;
	position: absolute;
	margin: 0;
	height: 29px;
	top: calc(50% - 29px/2);
	font-family: 'Roboto';
	font-size: 25px;
	font-weight: 300;
	left: 62px;
}
