body {
	transition: all 1s;
	opacity: 0;
}

#nav {
	margin-right: 350px;
	float: right;
	margin-top: 60px;
}

a {
	text-decoration: none;
	font-style: none;
}

#redBubble3 {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 0;
}

.navItem {
	text-decoration: none;
	font-style: none;
	z-index: 5;
	float: right;
	margin-top: 0;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 20px;
	margin-right: 50px;
	cursor: pointer;
	font-weight: 300;
	color: black;
}

#title {
	cursor: pointer;
	position: absolute;
	float: left;
	font-family: 'Fanwood Text';
	font-size: 40px;
	color: black;
	font-weight: 400;
	left: 75px;
	top: 30px;
}

#pageTitle {
	font-family: 'Open Sans';
	font-size: 50px;
	font-weight: 300;
	color: black;
	position: absolute;
	width: 500px;
	text-align: center;
	left: calc(50% - 500px/2);
	top: 150px;
}

#underline {
	height: 2px;
	width: 50px;
	position: absolute;
	left: calc(50% - 50px/2);
	top: 260px;
	background: rgba(0,0,0,.25);
}

#addBtn {
	position: absolute;
	top: 200px;
	background-color: #FF6464;
	box-shadow: 0px 0px 20px #FF2929;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	text-align: center;
	color: white;
	font-size: 40px;
	cursor: pointer;
	font-weight: 500;
	font-family: 'Roboto';
	left: calc(50% - 296px/2 + 420px + 296px - 50px);
}

#cardList {
	position: absolute;
	left: 158px;
	right: 158px;
	bottom: 0;
	top: 350px;
}

.card {
	cursor: pointer;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	transition: all .2s linear;
	z-index: 10;
	width: 296px;
	height: 327px;
	background-color: black;
}

.cardHead {
	transition: all .2s;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 50%;
	background-size: cover;
}

.cardBody {
	transition: all .2s;
	position: absolute;
	left: 0;
	top: 50%;
	right: 0;
	bottom: 0;
	background-color: black;
}

#cardTitle {
	font-family: 'Fanwood Text';
	font-size: 30px;
	font-weight: 400;
	color: white;
	position: absolute;
	left: 10px;
	top: 5px;
	right: 0;
	width: 100%;
}

#cardDesc {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 300;
	color: rgba(255,255,255,.5);
	position: absolute;
	left: 10px;
	top: 50px;
	right: 0;
}
