#nav {
	margin-right: 350px;
	float: right;
	margin-top: 60px;
}

#navItem {
	float: right;
	margin-top: 0;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 20px;
	margin-right: 50px;
	cursor: pointer;
	font-weight: 300;
	color: black;
}

#title {
	cursor: pointer;
	position: absolute;
	float: left;
	font-family: 'Fanwood Text';
	font-size: 40px;
	color: black;
	font-weight: 400;
	left: 75px;
	top: 30px;
}

#pageTitle {
	font-family: 'Open Sans';
	font-size: 50px;
	color: black;
	position: absolute;
	width: 122px;
	left: calc(50% - 122px/2);
	top: 150px;
}
